
.icon-right-circled2:before { content: '\e800'; } /* '' */
.icon-right-circled:before { content: '\e801'; } /* '' */
.icon-play-circled:before { content: '\e802'; } /* '' */
.icon-play-circled2:before { content: '\e803'; } /* '' */
.icon-stop-outline:before { content: '\e804'; } /* '' */
.icon-stop:before { content: '\e805'; } /* '' */