/* Reset */
html, body, ul, li {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

/* Basic */
html, body {
	height: 100%;
	font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", sans-serif;
	font-size: 14px;
}

.clearfix:after {
	display: block;
	clear: both;
	content: '';
}

.clearfix {
	*zoom: 1;
}

.container {
	margin: 0 auto;
	width: 960px;
	text-align: center;
}

.table {
	display: table;
	height: 100%;
}

.vertical-center {
	display: table-cell;
	vertical-align: middle;
}

a.btn-bigger {
	border-radius: 6px;
	width: 150px;
	height: 50px;

	font-size: 16px;
	line-height: 50px;
}

.btn-gray {
	display: inline-block;

	border-radius: 4px;
	width: 120px;
	height: 30px;

	line-height: 30px;

	color: white;
	background: #888;
}

.btn-gray:hover {
	background: #555;
}

.btn-white {
	display: inline-block;

	border-radius: 4px;
	width: 120px;
	height: 30px;
	
	line-height: 30px;

	color: black;
	background: white;
}

.btn-white:hover {
	background: #ccc;
}

/* Header */
header {
	width: 100%;
	height: 100%;

	background: url('../img/background.jpg') no-repeat center fixed;
	background-size: cover;
}

header .my-index h1 {
	margin-top: 0;
}

/* Content */
.about-me {
	padding: 50px 0;
}

.about-me p {
	font-size: 18px;
}

.skill {
	padding: 50px 0;
	
	color: white;
	background: #337ab7;
}

.skill ul {
	margin-top: 30px;
}

.skill li {
	float: left;

	width: 25%;
}

.skill li i {
	font-size: 120px;
}

.skill hr {
	max-width: 120px;
}

.callout {
	padding: 220px 0;

	font-size: 30px;
	
	color: white;
	background: url("../img/callout.jpg");
}

.portfolio {
	padding: 50px 0;
}

.portfolio li {
	float: left;

	padding: 10px;
	width: 460px;
	
}

.portfolio ul {
	margin-top: 20px;
}

.portfolio li a:hover {
	opacity: 0.8;
}

.portfolio li img {
	width: 100%;
}

.portfolio hr {
	max-width: 220px;
}

.callme {
	padding: 40px 0;
	
	color: white;
	background: #337ab7;
}
/* Content */

/* Footer */
footer {
	padding: 100px 0;
}

footer .contract {
	padding: 20px 0;
}

footer .contract-icon li {
	display: inline-block;
	
	padding: 0 10px;
}

footer .contract-icon li a {
	font-size: 40px;

	color: #337ab7;
}

footer hr {
	margin: 30px auto
	
	max-width: 150px;
}
