/*RESET*/
html,body,ul,li{
    margin: 0;
    padding: 0;
}
html,body{
      height: 100%;
      width: 100%;
      font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 14px;
}
li{
      list-style:none;
}
a{
      text-decoration:none;
}

/*统一样式*/
h2{
    font-size:32px;
}
h3{
    font-size:20px;
}
h4{
    font-size:18px;
}
.layout{
    width:1000px;
    margin:0 auto;
}
.text-middle-center{
    display: table-cell;
    vertical-align: middle;
}
.btn{
    cursor:pointer;
    white-space:nowrap;
    text-align:center;
    display:inline-block;
    vertical-align:middle;
    color: #333;
    background-color:#fff;
    border: 1px solid #adadad;
    border-radius:5px;
    padding:8px 15px;
}
.btn:hover{
    background-color:#e6e6e6;
}

.center{
    text-align: center;
}

.clear:after{
    content:"";
    display:block;
    clear:both;
}
/*自定义开始*/
/*头部开始*/
#nav{
    width:100%;
    height:52px;
    color:#777;
    background-color:#fff;
    line-height:52px;
    position:fixed;
    top:0;
    border:1px solid #777;
}
#nav .nav-header{
    float:left;
    margin-right:30px;
}

#nav .nav-header a{
    color:#777;
    font-size:2rem;
}

#nav ul.menu>li{
    float:left;
    margin-left:27px;
    position:relative;
    text-align: center;
    cursor:pointer;
}
#nav ul.menu>li:hover{
    color:#333;
}
#nav ul.menu>li.dropdown>i{
  margin-left:5px;
}
#nav ul.menu>li.dropdown:hover>.dropdown-cont{
    display: block;
}
.dropdown-cont{
    position:absolute;
    top:100%;
    left:0;
    min-width:160px;
    z-index: 1000;
    padding: 5px 0;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius:0 0 5px 5px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    display:none;
}
.dropdown-cont>li{
    height:30px;
    line-height:30px;
}
.dropdown-cont>li:hover{
    background-color:rgba(0,0,0,0.05);
}
.dropdown-cont>li:last-of-type{
    color:#777;
    padding: 0 20px;
}
.dropdown-cont>li>a{
    color:#333;
    display: block;
    padding: 3px 20px;
    white-space: nowrap;
}
.dropdown-cont>li>a>i{
    margin-right:5px;
}
.dropdown-cont>li.divider{
    height: 1px;
    margin: 9px 0;
    background-color: #e5e5e5;
    overflow:hidden;
}


#header{
    padding:60px 0;
    color: rgba(255, 255, 255, .8);
    background-color: #b84d45;
    font-size:24px;
    margin-bottom:40px;
    margin-top:52px;
}
#header h1{
    font-size: 60px;
    color: #fff;
    margin:0 auto 10px 0;
}
#header p{
    margin:0;
}
/*头部结束*/
/*内容开始*/
.breadcrumb{
    padding: 8px 15px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius:5px;
}
.breadcrumb li{
    display: inline-block;
}
.breadcrumb li>a{
    color:#b84d45;
    text-decoration: none;
}
.breadcrumb li.separate:before{
    content:"/\00a0";
    display: inline-block;
    margin:0 5px;
    color:#ccc;
}
.thumbnail-list{
    margin-right:-30px;
}
.thumbnail-list>li{
    width:310px;
    border:1px solid #ccc;
    text-align: center;
    margin-bottom: 30px;
    margin-right:30px;
    float:left;
    padding-bottom:30px;
    border-radius:5px;
}
.thumbnail-list>li>a{
    cursor:pointer;
}

.thumbnail-list>li img{
    width:300px;
    height:230px;
    border: 1px solid #e6e6e6;
}
.thumbnail-list>li img:hover{
    opacity:0.7;
}
/*底部*/
#contact{
    background-color:#b84d45;
    padding:50px 0;
    color:#fff;
    margin-top: 50px;
}
#footer{
    padding:40px 0;
}
#footer hr{
    border-top: 1px solid #eee;
    margin:20px 0;
}
#footer p{
    color:#777;
}
#footer p a{
    color:#b84d45;
    text-decoration: none;
}
