@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
header,footer{
  height:50px;
  background-color:#ccc;
}
.cont{
  padding:0 200px;
}
.cont:after{
  content:"";
  display:block;
  clear:both;
}
.main,.asidel,.asider{
  float:left;
}
.main{
  width:100%;
  height:200px;
  background-color: lightsteelblue;
}
.asidel{
  width:200px;
  height:300px;
  background-color:pink;
  margin-left:-100%;
  position:relative;
  left:-200px;
}
.asider{
  width:200px;
  height:300px;
  background-color:palevioletred;
  margin-left:-200px;
  position:relative;
  left:200px;
}
