body,div,h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #000;
}

.head-close{
    position: absolute;
    top: 5px;
    right: 10px;
}
.justify:after {
    content: '';
    display: inline-block;
    height: 0;
    width: 100%;
}
.dialog-header {
    position: relative;
    background: #444;
    border-bottom: 1px solid;
    -webkit-user-select: none;
    height: 35px;
    color: #fff;
}
.justify{
  text-align: justify;
}
.dialog-header>span {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
}
/* 0 0 6px 6px*/
.main-dialog {
    background: #fff;
    width: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius:6px;
    box-shadow: 5px 5px 3px 2px rgba(0, 0, 0, .6);
    border: 1px solid #848383;
}
.dialog-content {
    text-align: left;
    padding: 10px;
    margin: 13px 13px 0px 13px;
    word-break: break-all;
    border-bottom: 1px solid #ccc;
}
.model-dialog {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #444;
    opacity: 0.5;
}
.dialog-footer {
    padding: 10px;
    /*border-top: 1px solid #ccc;*/
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;
    border-radius: 0 0 6px 6px;
}

.btn {
    height: 25px;
    line-height: 25px;
    display: inline;
    border-radius: 5px;
    padding: 8px;
    letter-spacing: 4px;
    background: #444;
    color: #fff;
    margin: 5px;
    cursor: pointer;
}
.dialog-btns {
    float: right;
}
.clear:after {
    content: '';
    display: block;
    clear: both;
}
.undisplay{
    display: none;
}
.draggable{
    opacity: 0.8;
    cursor:move;
    z-index: 100;
}

.small-hand{
    cursor: pointer;
}