@keyframes strobe{
	0% {
	    transform: skew(4deg,0deg) scaleX(1);
	}

	10% {
	    transform: skew(1deg,0deg) scaleY(.9);
	}
	50% {
	    transform: skew(-4deg,0deg) scaleX(1);
	}
	60% {
	    transform: skew(-1deg,0deg) scaleY(.9);
	}
	100% {
	    transform: skew(4deg,0deg) scaleX(1);
	}
}