
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1464365027'); /* IE9*/
  src: url('iconfont.eot?t=1464365027#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1464365027') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1464365027') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1464365027#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jiahao:before { content: "\f0129"; }
.icon-sanjiao:before { content: "\e619"; }
.icon-gouwuche:before { content: "\e6b5"; }
.icon-laptop:before { content: "\e637"; }
.icon-lock-fill:before { content: "\e615"; }
.icon-weixin:before { content: "\3488"; }
.icon-github:before { content: "\e66c"; }
.icon-facebook:before { content: "\e605"; }
