*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}

.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
.panel-ct{
	width: 800px;
	padding: 3px 5px;
	border: 1px solid #ccc;
}
.panel{
	position: relative;
	float: left;
	width: 262px;
	padding: 28px 20px;
}

.cover{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0, .3);
	opacity: 0;
}
.cover a{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: inline-block;
	padding: 8px 15px;
	border-radius: 5px;
	border: 1px solid #9B2E4D;
	color: #9B2E4D;
	background-color: #fff;
	opacity: 1;
	z-index: 100;
}

.hover .cover{
	opacity: 1;
}

.panel p{
	font-size: 14px;
	color: #666;
	text-align: left;
}
/*每一个panel里面的样式*/

.mod-tab{
	margin: 10px auto;
	width: 800px;
}
.mod-tab .tabs li span{
	border-right: 1px solid #ccc;
	padding: 10px 14px;
	font-size: 14px;

}
.mod-tab .tabs li{
	line-height: 25px;
	height: 25px;
	display: inline-block;
	cursor: pointer;
}
.tabs{
	border-radius: 3px 3px 0 0;
	width: 231px;
	border: 1px solid #ccc;
	border-bottom: none;
}
.tabs .active{
	background-color: #ccc;

}
.tabs .active span{
	color: #9B2E4D;
}
.panels{
	display: none;

}
.mod-tab>.active{
	display: block;
}

.wrap{
	width: 800px;
	margin: 50px auto;
}

.btn{
	display: table;
	margin: 0 auto;
}
.btn-add{
	display: inline-block;
	text-align: center;
	margin: 20px;
	padding: 15px 70px;
	border-radius: 13px;
	background-color: #65d;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}
.btn-add:hover{
	color: #9B2E4D;
	background-color: #6289de;
}