
		*{
			margin: 0;
			padding: 0;
		}
		button{
			border: none;
		}
		a{
			text-decoration: none;
			color: #111;
		}
		li{
			list-style: none;
		}

		@font-face {font-family: 'iconfont';
		    src: url('style/iconfont.eot'); /* IE9*/
		    src: url('style/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		    url('style/iconfont.woff') format('woff'), /* chrome、firefox */
		    url('style/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
		    url('style/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
		}
		.iconfont{
		    font-family:"iconfont" !important;
		    font-size:34px;font-style:normal;
		    -webkit-font-smoothing: antialiased;
		    -webkit-text-stroke-width: 0.2px;
		    -moz-osx-font-smoothing: grayscale;
		}
		
		.channel-info{
			border-radius: 10px;
			background-color: #356;
			width: 300px;
			height: 550px;
			position: absolute;
			margin-left: -330px;
			left: -100%;
			top: -20px;
			z-index: 20;
			transition:all 1s;
			opacity: .8;
			overflow: auto;
		}
		.channels:hover .channel-info{
			margin-left: -5px;
		}

		.channel-info .channel-nav{
			height: 40px;
			margin-top: 20px;
			padding: 0 10px;
		}
		.channel-info .channel-nav:after{
			content: "";
			display: table;
			clear: both;
		}
		.channel-info .channel-nav>li{
			float: left;
			line-height: 40px;
			text-align: center;
			width: 130px;
			height: 40px;
			font-size: 18px;
			color: #fff;
			cursor: pointer;
		}

		.channel-info .channel-nav li.active{
			background-color: #666;
		}
		.channel-info .channel-item{
			margin-left: 20px;
			width: 260px;
			display: none;
		}
		.channel-info li:hover{
			background-color: #999;
		}
		.channel-info .channel-item li a{
			color: #fff;
			display: inline-block;
			width: 180px;
			text-align: center;
			font-size: 18px;
			height: 40px;
			line-height: 40px;
		}
		.channel-info .channel-item.active{
			display: block;
		}

		.music-ct{

			position: fixed;
			top: 50px;
			right: 500px;
		/*	width: 400px;
			height: 560px;*/
			display: table;/*//使用display table形成BFC解决拖动按钮和主页面产生的位置错乱问题*/
		}
		.music-ct>i{
			position: absolute;
			right: 5px;
			top: 5px;
			width: 50px;
			height: 50px;
			cursor: pointer;
			font-size: 40px;
			-webkit-user-select: none;
			user-select: none;
		}

		.music{
			position: absolute;
			right: 50px;
			top: 38px;
			display: none;
			padding: 0 5px;
			background-color: #e9e9e9;
			border-radius: 3px;
			overflow: hidden;
			height: 0;
		}

		.music-nav{
			height: 40px;
			padding: 8px 30px;
/*			position: relative;
*/
		}
		.music-nav .iconfont{
			font-size: 26px;			
		}

		.music-nav .nav-bar{
			position: absolute;
			top: 18px;
			left: 30px;
		}
		.music-nav .music-icon{
			position: absolute;
			top: 16px;
			right: 16px;
			cursor: cell;
		}
		#themes{
			position: absolute;
		    top: 21px;
		    right: 50px;
		    cursor: pointer;
		}
		#themes:hover i.active{
			text-shadow: 2px 2px 2px #f00;
		}
		#themes i{
			display: none;
			font-size: 17px;
		}
		#themes i.active{
			display: inline-block;
		}

		.music-nav .music-title{
			text-align: center;
			height: 40px;
			min-height: 100px;
		}
		.title{
			font-size:18px;
		}
		.author{
			font-size:12px;
		}

		.main{
			position: relative;
			margin: 0 10px;
			height: 380px;
			/*border: 1px solid;*/
			overflow: hidden;
/*			background: url('4.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-color: rgba(0,0,0, 0.2);*/
		}
	/*	.main .lyric-upcover{
			display: none;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 54%;
			background-color: rgba(99,99,99,.5);
			z-index: 25;
		}
		.main .lyric-downcover{
			display: none;
			position: absolute;
			left: 0;
			right: 0;
			top: 54%;
			bottom: 0;
			background-color: rgba(99,99,99,.5);
			z-index: 25;
		}*/
		.main .img-cover{
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 8;
		}

		.main hr{
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			opacity: .5;
			background-color: #fff;
		}
		.main img.music-bg{
			width: 100%;
			height: 100%;
			opacity: .6;
			-webkit-user-select: none;
			user-select: none;
		}

		.main .lyric{
			display: none;
			text-align: center;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			background-color: rgba(f,f,f,.3);
			z-index: 10;
		}

		
		.main .lyric span{
			display: inline-block;
			/* position: absolute; */
			/* left: 50%; */
			/* transform: translate(-50%,-50%); */
			font-size: 14px;
			text-align: center;
			word-wrap: break-word;
			/* height: 30px; */
			line-height: 10px;
			display: block;
			/* margin: -7px auto; */
			margin-top: 15px;
		}/* 每句歌词的位置 */
		.main .like{
			position: absolute;
			left: 8%;
			bottom: 5%;
			z-index: 30;
			cursor: pointer;
			opacity: .7;
		}
		.main .like.liked{
			color: red;
		}
		.main .like i{
			font-size: 28px;
			-webkit-user-select:none;
			user-select:none;
		}
		@font-face {font-family: "iconfont";
		  src: url('style/iconfont1.eot?t=1466480762'); /* IE9*/
		  src: url('style/iconfont1.eot?t=1466480762#iefix') format('embedded-opentype'), /* IE6-IE8 */
		  url('style/iconfont1.woff?t=1466480762') format('woff'), /* chrome, firefox */
		  url('style/iconfont1.ttf?t=1466480762') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
		  url('style/iconfont1.svg?t=1466480762#iconfont') format('svg'); /* iOS 4.1- */
		}


		.music .main .show-lyric i{
			font-weight: 400;
			font-size: 32px;			
			text-align: center;
			padding: 3px 5px 0 0;
			-webkit-user-select: none;
			user-select: none;			
		}
		
		.main .show-lyric{
			position: absolute;
			right: 6%;
			bottom: 4%;
			z-index: 30;
			/*border-radius: 50%;
			border:2px solid;*/
			cursor: pointer;
			padding: 3px;
			opacity: .7;
			-webkit-user-select: none;
			user-select: none;	
/*			height: 25px;
			width: 25px;*/
		}
		.main .show-lyric.showed-lyric{
			opacity: 1;
			color: red;
		}
	/*	.main .show-lyric.showed-lyric i{
			
			color: red;
		}
*/
		.control-panel{
			position: relative;
			margin: 8px 0 0 0;
			height: 80px;
			/*border: 1px;*/
			font-size: 32px;
		}

		.control-panel .progress-bar{
			font-size: 12px;
			position: relative;
			height: 6px;
			width: 85%;
			margin: 0 auto;
			background-color: #333;
			cursor: pointer;
		}
		.progress-bar .play-prograss{
			position: absolute;
			height: 6px;
			left: 0;
			top: 0;
			background-color: #fa0;
		}
		.play-time{
			position: absolute;
			height: 15px;
			width: 30px;
			right: 100%;
			transform: translate(50%,50%);
		}
		.end-time{
			position: absolute;
			height: 15px;
			width: 30px;
			left: 100%;
			transform: translate(-50%,50%);
		}

		.control-panel .adjust-panel{
			margin: 20px 18px 8px 22px;
		}

		.control-panel .adjust-panel .adjust .pre{
			cursor:auto;
			color:#999;
		}

		.control-panel .adjust-panel .adjust li{
			cursor: pointer;
			display: inline-block;
			padding: 2px 10px;
			width: 12%;
		}
		.control-panel .adjust-panel .adjust li i{
			font-size: 32px;
			-webkit-user-select: none;
			user-select: none;
		}
		
		.sound{
			position:relative;
		}
		.sound .quiet{
			display: none;
			color: #f33;
			font-size: 38px;
			font-weight: 900;
			position: absolute;
			left: 50%;
			margin-left: -10px;
			bottom: 3px;
			width: 30px;
			height: 40px;
		}
		.sound:hover .vol-panel{
			display: block;
		}
		.vol-panel{
			display: none;
			position:absolute;
			bottom: 80%;
			left: -46%;
			height:16px;
			width: 100px;
			background-color: #66f;
		}
		.vol-bar{
			position: absolute;
			width: 90px;
			height: 5px;
			margin: auto;
			left: 50%;
			bottom: 50%;
			transform:translate(-50%,50%);
			background-color: #fff;
		}
		.vol-prograss{
			height: 5px;
			width: 50px;
			background-color: #a33;
			position: absolute;
			bottom: 0;
		}

