@charset "UTF-8";
/**
 * 
 * @authors WTQ (yic.wtq@qq.com)
 */
html, body{
	height: 100%;
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #17150f;
}
body, div, h1, h2, h3, h4, h5, p, a, ul, li, hr{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

a{
	color: #337ab7;
	text-decoration: none;
}

h2{
	font-size: 30px;
}

hr{
	width: 100px;
	margin: 20px auto;
}

.clearfix:after{
	content: '';
	display: block;
	clear: both;
}

.btn1{
	display: inline-block;
	padding: 0 20px;
	line-height: 30px;
	color: #17150f;
	background: #fff;
}

.btn2{
	display: inline-block;
	padding: 0 20px;
	line-height: 30px;
	color: #fff;
	background:  rgba(0,0,0,0.4);
}

.layout{
	width: 960px;
	margin: 0 auto;
}

.table{
	display: table;
	height: 100%;
}

.vertical-center{
	display: table-cell;
	vertical-align: middle;
}

#header{
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0,0,0,0) url(../images/bg.jpg) 0 0 repeat;
	background-size: cover;
}

#header h1{
	font-size: 2em;
	margin-bottom: 20px;
}

#header .btn2{
	margin-top: 20px;
	line-height: 40px;
}

#content .introduce{
	padding: 50px 0;
	text-align: center;
	background: #fff;
}

.introduce-con{
	margin-top: 20px;
	font-size: 20px;
	color: #605e64;
}

#content .ability{
	padding: 50px 0;
	color: #fff;
	text-align: center;
	background: #337ab7;
}

.ability hr{
	border-top: 1px solid #fff;
}

.ability-item{
	float: left;
	width: 180px;
	padding: 10px 30px;
}

.ability-wrap .icon{
	display: inline-block;
	width: 100px;
	height: 100px;
	font-size: 50px;
	line-height: 100px;
	color: #337ab7;
	background: #fff;
	border-radius: 50px;
}

.ability-item>.title{
	margin: 20px 0;
}

.ability-desp{
	height: 40px;
	margin-bottom: 10px;
}

#content .callout{
	padding: 200px 0;
	color: #fff;
	text-align: center;
	background: rgba(0,0,0,0) url(../images/callout.jpg) 0 0 repeat;
	background-size: cover;
}

#content .works{
	padding: 50px 0;
	text-align: center;
	background: #fff;
}

.works hr{
	border-top: 1px solid #eee;
}

.works-wrap{
	margin-left: -25px;
}

.works-item{
	float: left;
	width: 460px;
	height: 310px;
	margin-left: 30px;
	margin-bottom: 30px;
	overflow: hidden;
}

.works-item img{
	width: 460px;
	height: 310px;
}

#content .other{
	padding: 50px 0;
	color: #fff;
	text-align: center;
	background: #337ab7;
}

.other .title{
	margin-bottom: 20px;
}

.other .btn1, .other .btn2{
	line-height: 40px;
}

.btn-white{
	color: #17150f;
	background: #fff;
}

.btn-blue{
	color: #fff;
	background: #205372;
}

#footer{
	padding: 100px 0;
	text-align: center;
	background: #fff;
}

#footer .address{
	margin-top: 10px;
}

#footer .contact-information{
	margin: 10px 0;
}

.sns-item{
	display: inline-block;
	margin: 10px;
	font-size: 40px;
}

#footer hr{
	border-top: 1px solid #eee;
}