#leftBody p.p0 {
	color:#000000;
	font-size:18px;
	margin:30px 0 30px 0;
}
#leftBody form  label {
	display:block;
	font-size:14px;
	color:#555555;
	margin:15px 0 3px 0;
}
#leftBody form  input {
	height:20px;
}
#leftBody form  input.btn_sub {
	height:27px;
	cursor:pointer;
	float:left;
	margin-top:10px;
	border:none;
}
#leftBody form  input.btn2 {
	margin-left:165px;
}