/* Reset */
html, body, ul, li, p, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #666;
}


a>img {/* img形成一个新的BFC,使a中匿名行级盒子和img不在同一个BFC中 */
	display: block;
}

/* Basic */
html, body {
	height: 100%;
	font-size: 16px;
	line-height: 1.7;
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4 {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
}

h4 {
	font-size: 18px;
	line-height: 1.1;
}

p {
	font-size: 14px;
	line-height: 1.75;
}

::selection {
	background: #fed136;
}

.layout {
	margin: 0 auto;
	width: 1140px;
}

.clearfix:after {
	display: block;
	clear: both;
	content: '';
}

.clearfix {
	*zoom: 1;
}

.table {
	display: table;
	height: 100%;
}

.vertical-center {
	display: table-cell;
	vertical-align: middle;
}

a.btn {
	display: inline-block;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 20px 40px;
	background: #fed136;
	color: white;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 3px;
}

/*nav-bar*/
.page-top {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	line-height: 70px;
	background: #222;
	z-index: 2;
}

/* Header */
header {
	height: 100%;
	width: 100%;
	background: url(../img/header-bg.jpg) center no-repeat fixed;
	background-size: cover;
	background-color: #464646;
}

header nav .logo {
	float: left;
	font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
	font-size: 21px;
	color: #fed136;
}

header nav .nav-bar {
	float: right;
}

header nav .nav-bar li {
	display: inline-block;
	*display: block;
	padding: 15px;
	font: 14px/1.2 normal;
	color: white;
}

header nav .nav-bar li a {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	letter-spacing: 1px;
	font-weight: bold;
	color: white;
}

header nav .nav-bar li a:hover {
	color: #fed136;
}

header .intro {
	text-align: center;
	color: white;
}

header .intro p:first-child {
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-style: italic;
	font-size: 40px;
	line-height: 40px;
	margin-bottom: 25px;
}

header .intro h1 {
	font-size: 75px;
	line-height: 75px;
	margin-bottom: 50px;
}

/* Content Basic*/
section.block {
	padding: 150px 0;
	text-align: center;
}

section.block > h2 {
	font-size: 40px;
	line-height: 1.1;
	margin-bottom: 15px;
}

section.block>h3 {
	margin-bottom: 75px;
	font: 16px/1.1 normal;
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-style: italic;
	color: #777;
}

#portfolio, #team {
	background: #f7f7f7;
}
/* Service */
section#service .fa {
	width: 100px;
	height: 100px;
	font-size: 50px;
	line-height: 100px;
	border-radius: 50%;
	background: #fed136;
	color: white;
}

.service-list {
	margin-left: -45px;
}

.service-list li {
	float: left;
	margin-left: 45px;
	width: 350px;
}

.service-list li h4 {
	margin: 15px 0;
}

.service-list li p {
	color: #777;
}

/* Portfolio */
.portfolio-list {
	margin-left: -30px;
}

.portfolio-list li {
	float: left;
	margin: 0 0 30px 30px;
	background: white;
}

.portfolio-list li img {
	width: 360px;
	height: 260px;
}

.portfolio-list li i {
	display: none;
	margin-top: -260px;
	width: 360px;
	height: 260px;
	line-height: 260px;
	color: white;
	font-size: 60px;
	background: #fed136;
	opacity: 0.9;
}

.portfolio-list li a:hover i {
	display: block;
}

.portfolio-list li h4 {
	margin-top: 25px;
}

.portfolio-list li p {
	margin-bottom: 25px;
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-style: italic;
	font-size: 16px;
	color: #777;
}

/* About */
section#about>div {
	position: relative;
}

.timeline>li {
	margin-bottom: 100px;
	min-height: 170px;
}

.timeline>li section h4 {
	margin-bottom: 10px;
}

.timeline>li section p {
	color: #777;
}

.timeline>li:nth-of-type(odd) section {
	width: 350px;
	float: left;
	padding: 0 20px 20px 100px;
	text-align: right;
}

.timeline>li:nth-of-type(even) section {
	width: 350px;
	float: right;
	padding: 0 100px 20px 20px;
	text-align: left;
}

.timeline>li div {
	position: absolute;
	left: 50%;
	margin-left: -85px;
	width: 156px;
	height: 156px;
	border: 7px solid #f1f1f1;
	border-radius: 50%;
	overflow: hidden;
}

.timeline>li div img {
	width: 100%;
}

.timeline>li:last-of-type div {
	background: #fed136;
}

.timeline>li:last-of-type div ul {
	padding: 39px 0;
}

.timeline>li:last-of-type div ul li {
	font-size: 18px;
	line-height: 26px;
	font-weight: bold;
	color: white;
}

section#about>div>div {
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -1px;
	width: 2px;
	height: 100%;
	background-color: #f1f1f1;
	z-index: -1;
}

/* Team */
.member {
	margin: 7px auto 50px auto;
}

.member>li {
	float: left;
	margin: 0 78px;
}

.member>li div {
	width: 224px;
	height: 224px;
	border-radius: 50%;
	overflow: hidden;
}

.member>li div img {
	width: 100%;
}

.member>li h4 {
	margin-top: 25px;
}

.member>li p {
	margin-bottom: 10px;
	color: #777;
}

.member + p {
	padding: 0 185px;
	font-size: 16px;
	color: #777;
}

.contract-icon>li {
	display: inline-block;
	padding: 0 5px;
}

.contract-icon>li a {
	display: block;
	width: 40px;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	border-radius: 50%;
	color: white;
	background: #222;
	transition: all .3s;
}

.contract-icon>li a:hover {
	background: #fed136;
}

/* sponsor */
.sponsor-list li {
	float: left;
	margin: 50px 42.5px;
}

.sponsor-list li img {
	width: 200px;
	height: 50px;
}

/* contact */
section#contact {
	background: #222 url("../img/map-image.png") center no-repeat;
}

section#contact>h2 {
	color: white;
}

.form-group {
	margin-left: -30px;
}

.form-group>li {
	float: left;
	margin-left: 30px;
}

.form-group>li ul li input, .form-group>li textarea {
	padding: 20px;
	margin-bottom: 25px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 513px;
}

.form-group>li textarea {
	height: 194px;
}

::-webkit-input-placeholder {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #ccc;
	font-weight: bold;
	color: #bbb;
}

section#contact :-moz-placeholder {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	color: #ccc;
	color: #bbb;
}

section#contact ::-moz-placeholder {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	color: #ccc;
	color: #bbb;
}

section#contact :-ms-input-placeholder {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	color: #ccc;
	color: #bbb;
}

/* Footer */
footer {
	padding: 25px 0;
	text-align: center;
}

.footer-list>li {
	float: left;
	width: 380px;
}

.footer-list>li:nth-of-type(1) p {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 40px;
}

.footer-list>li:nth-of-type(3) a {
	display: inline-block;
	padding: 0 5px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 40px;
	color: #fed136;
}

.footer-list>li:nth-of-type(3) a:hover {
	color: #fed136;
	text-decoration: underline;
}