/*通用样式*/
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #333;
}
ul,li {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
h1,h2,h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}
.layout {
	width: 900px;
	margin: 0 auto;
}
.btn {
	border: 1px solid #000;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}
.shortline {
	width:100px;
	border: 1px solid;
	margin:20px auto;
}
/*头部样式*/
#header {
	background: url("../img/front-background.jpg") 0 0 no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
	display:table;
}
.set-center {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.set-center h1 {
	font-size: 4.5em;
	font-weight: 700;
}
.set-center h3 {
	font-size: 24px;
	font-weight: 500;
	line-height: 1.1;
}
.grey-btn {
	border-color: #777;
	padding: 10px 16px;
	background-color: #777;
	color: #fff;
	font-size: 18px;
}
.set-center .btn:hover {
	color: #fff;
	background-color: #333;
}
/*内容样式*/
/*slogan部分*/
.slogan {
	text-align: center;
	padding: 50px 0;
}
.slogan h2 {
	font-size: 30px;
}
.slogan p {
	font-size: 18px;
	margin-bottom: 20px;
	line-height: 1.4;
}
.slogan a {
	color:#1E90ff;
}
.slogan a:hover {
	text-decoration: underline;
	color:#104e8b; 
}
/*service部分*/
.service {
	background-color: #1874cd;
	text-align: center;
	padding: 40px 0;
}
.service h2 { 
	color:#fff;
}
.white {
	border-color: #fff;
}
.service-item {
	position: relative;
	float: left;
	width:25%;
	text-align: center;
}
.service-item .icon-stack{
	font-size: 55px;
}
.service-item .suitbg {
	color: #1874cd;
}
.service-item h4 {
	color: #fff;
	line-height: 1.1;
	font-weight: bold;
}
.service-item p {
	color: #fff;
}
.service-item .white-btn {
	border-color: #fff;
	padding: 8px 12px;
	background-color: #fff;
	font-size: 12px;
	color: #333;
}
.service-item .white-btn:hover {
	background-color: rgba(255,255,255,0.8);
}
/*callout部分*/
.callout {
	background:url("../img/callout.jpg") 0 0 no-repeat;
	height: 400px;
	width: 100%;
	background-size: cover;
	text-align: center;
	display: table;
}
.callout h1 {
	color: #fff;
	font-size: 4em;
	font-weight: 700;
	line-height: 400px;
}
/*works部分*/
.works {
	text-align: center;
}
.portfolio {
	width:100%;
	min-height:330px;
	padding-bottom: 50px;
}
.portfolio:after {
	content:"";
	display: block;
	clear:both;
}
.portfolio-img {
	float:left;
	margin:0 10px 20px 10px;
	max-width: 450px;
}
.portfolio-img:hover {
	opacity: 0.8;
}
.portfolio-img img {
	max-width:430px;
}
.works .btn{
	font-size: 14px;
}
.works .btn:hover {
	color: #fff;
	background-color: #333;
}
/*more-information部分*/
.more-information {
	background-color: #1874cd;
	text-align: center;
	padding: 50px 0;
}
.more-information h2 { 
	color:#fff;
}
.more-information .white-btn {
	border-color: #fff;
	padding: 10px 16px;
	background-color: #fff;
	color: #333;
}
.more-information .white-btn:hover {
	background-color: rgba(255,255,255,0.8);
}
.more-information .blue-btn {
	border-color: #104e8b;
	padding: 10px 16px;
	background-color: #104e8b;
	color: #fff;
}
.more-information .blue-btn:hover {
	background-color: #6495ed;
}
/*底部样式*/
#footer {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}
#footer ul {
	margin: 30px auto;
	width:240px; 
	height: auto;
	overflow: auto;
}
#footer li {
	float: left;
	width:33.33333%; 
	height: auto;
}
#footer .suitbg {
	color: #1874cd;
	font-size: 42px;
}
#footer .suitbg:hover {
	color:#104e8b;
}
.copyright {
	color:#777;
}