@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
img {
  border: none;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
* {
  font-family: "微软雅黑";
}
a{
  text-decoration: none;
  color:#444;
}
header{
  background-color:#ccc;
  width:100%;
  height:50px;
}
header>ul>li{
  float:left;
  line-height:50px;
  position:relative;
}
header>ul>li>a{
  display:inline-block;
  width:130px;/*我觉得固定宽度跟舒胡~*/
  text-align:center;
}
header>ul>li:hover{
  background-color:#aaa;
}
.cont{
  position:absolute;
  top:100%;
  left:0;
  background-color:#fff;
  border:1px solid #aaa;
  display: none;
}
.cont>li{
  text-align: center;
  width:128px;
}
.cont>li:hover{
  background-color:#ccc;
}
header>ul>li:hover>.cont{
  display: block;
}
/*task11-2*/
#header,#footer{
  width:100%;
  height:70px;
  background-color:red;
  font-size:22px;
  font-weight: bold;
}
#content .aside{
  float:left;
  width:30%;
  background: #ccc
}
#content .main {
  overflow: auto;
  background: pink;
  height: 350px;
  font-size:22px;
}

