.layout{
    position: fixed;
    left: 10%;
    top: 10%;
    overflow: hidden;
    /*cursor: move;*/
}
.display{
    display: none;
}

.music {
    font-size: 18px;
    background: rgba(16, 0, 3, 0.64);;
    padding: 4px;
    border-radius: 6px;
    color: #fff;
    margin: 5px;
    box-shadow: 0 0 7px #1D0509;
    cursor: move;
    text-align: center;
    width: 30px;
}

body,ul , li,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
ul{list-style: none}
a{
    text-decoration: none;
    color: #fff;
}

.big{
    font-size: 6em;
}
.small{
    font-size: 1.5em;
}
.music-ct{

    left: 0;
    overflow: hidden;
    width: 250px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('http://dl.bizhi.sogou.com/images/2012/11/08/316576.jpg');
    position: relative;
    text-align: center;
    color: #fff;
    transition: all 0.6s;
}

.music-ct.cur {
     left: -250px;
}
.cover{
    background-color: rgba(29, 27, 27, 0.4);
    box-shadow: 0 0 15px rgba(51, 39, 39, 0.84) inset;
}

header.top ,.music-volume{
    padding:20px 20px 0 20px
}
.music-volume{
    padding: 0 20px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;user-select:none;
}
.justify{
    text-align: justify;
}
.justify:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
}

/*歌词样式*/
.music-lyric{
    position: relative;
    overflow: hidden;
    height: 34px
}
.lyric{
    list-style: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
}

.lyric > li{
    padding: 5px 0;
    position: relative;
    letter-spacing: 2px;
    color: #fff;
    font-size:12px ;
    transition: all 0.5s;
    height: 34px;
    box-sizing: border-box;
}
.lyric > .active {
    font-size: 13px;
    color: #ffffff;
}

/*按钮*/
.music-ctrl >ul>li ,.progress-wrap>ul>li{
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
    box-sizing: border-box;
}

/* 滑块样式*/
/*.progress-wrap>ul>li:nth-child(2n+1){*/
    /*width: 30px;*/
/*}*/

.music-volume.justify>span {
    display: inline-block;
    font-size: 14px;
    position: relative;
}
span.volume:hover>.slider-volume {
    opacity:1;
    /*display: inline-block;*/
}


.slider-volume{
    opacity: 0;
    /*display:block;*/
    width: 100px;
    padding: 10px 15px;
    background: rgba(85, 90, 90,1);
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: calc(100% + 10px);
    transition: all 1s;
}


.slider-volume:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 8px;
    height: 8px;
    left: -4px;
    top: 7px;
    transform: rotate(45deg);
    background: rgba(85, 90, 90, 1);
}


.slider{
    height: 4px;
    border-radius: 20px;
    position: relative;
    border: none;
    background: #181B1A;
    cursor: pointer;
}
.slider-range{
    background-color: #fff;
    height: 4px;
    border-radius: 5px;
    font-size: 1px;
    line-height: 4px;
    position: absolute;
    top: 0;
    left: 0;
}

.slider-handle{
    /*margin: -4px 0 0 -7px;*/
    position: absolute;
    left: 0%;
    top: 0;
    margin: -2px 0 0 0px;
    width: 8px;
    height: 8px;
    outline: none;
    background: #181B1A;
    border-radius: 50%;
    transform: translate(-50%,0);
}

.progress-wrap>ul>li:nth-child(2n){
    width: calc(100% - 118px);
}

.progress-wrap {
    height: 35px;
    border-radius: 5px;
}
.progress{
    width: 100%;
    height: 4px;
    border-radius: 20px;
    position: relative;
    border: none;
    background: #181B1A;
    cursor: pointer;
}
.progress-range {
    background-color: #fff;
    height: 4px;
    border-radius: 5px;
    font-size: 1px;
    line-height: 4px;
    position: absolute;
    top: 0;
    left: 0;
}
a.progress-handle {
    position: absolute;
    left: 0%;
    top: 0;
    margin: -2px 0 0 0px;
    width: 8px;
    height: 8px;
    outline: none;
    background: #181B1A;
    border-radius: 50%;
    transform: translate(-50%,0);
}




.music-ct > .channel{
    /*overflow: hidden;*/
    width: 80%;
    padding: 30px 0;
    color: #fff;
    /*box-shadow: 5px 0 10px rgb(135, 135, 135);*/
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: -240px;
    bottom: 0;
    transition: all 0.5s;
}

.channel>ul>li.view:after{
    display: block;
    content: '';
    position: absolute;
    right: 6px;
    top: 4px;
    width: 0;
    height: 0;
    border-left: transparent;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 11px solid #fff;
}
.music-ct  div.active4channel{
    /*right: 100%;*/
    left: 0 ;
/*!important;*/
}
.channel>ul {
    height: 100%;
    overflow-y: auto;
}

.channel>ul::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.channel>ul::-webkit-scrollbar-track {
    border-radius: 20px;
    box-shadow: inset 0 0 6px #f0f0f0;
}
.channel>ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #fff;
}

.channel>ul>li {
    padding: 3px 0;
    letter-spacing: 1px;
    cursor: pointer;
    position:relative;
    z-index: 100;
}
/*.channel>ul>li:hover {*/
    /*background: pink;*/
    /*color: #fff;*/
/*}*/
.channel>ul>li>.bg{
    display: block;
    position: absolute;
    width: 190px;
    height: 22px;
    border-left: 5px solid #25a6f7;
    top: 0;
    left: -246px;
    background-color: #070202;
    z-index: -1;
    transition: left 0.3s;
    -webkit-transition: left .3s;
}
.channel>ul>li:hover>.bg{
    left: 0;
}
.close{
    position: absolute;
    top: 7px;
    font-size: 16px;
    right: 12px;
    cursor:pointer;
}
.open {
    cursor: pointer;
}

.coder-info {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.coder-info:hover > .author {
    opacity: 1;
}
.author {
    background: rgba(85, 90, 90,1);
    padding: 8px;
    position: absolute;
    right: calc(100% + 7px);
    bottom: 0;
    border-radius: 5px;
    word-break: keep-all;
    font-size: 10px;
    opacity: 0;
    transition: all 0.5s;
}

.author:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 8px;
    height: 8px;
    right: -4px;
    top: 13px;
    transform: rotate(45deg);
    background: rgba(85, 90, 90, 1);
}
.under-line{
    border-bottom: 2px solid;
    padding: 4px;
}
.music-volume>span.display-Lyric {
    cursor: pointer;
}
.transparent{
    opacity: 0;
}
.opaque{
    opacity: 1;
}