.music {
    position: fixed;
    left: 10%;
    top:10%;
    font-size: 20px;
    background: pink;
    padding: 6px;
    border-radius: 6px;
    color: #fff;
    box-shadow: 0 0 10px pink;
    cursor: move;
}

body,ul , li,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
ul{list-style: none}
a{
    text-decoration: none;
    color: #fff;
}

.big{
    font-size: 6em;
}
.small{
    font-size: 2em;
}
.music-ct{
    overflow: hidden;
    margin: 0 auto;
    width: 300px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('http://dl.bizhi.sogou.com/images/2012/11/08/316576.jpg');
    position: relative;
    text-align: center;
    color: #fff;
}
.cover{
    background-color: rgba(86, 74, 74, 0.4);
}

header.top ,.music-volume{
    padding:20px 20px 0 20px
}
.music-volume{
    padding: 0 20px;
}
.justify{
    text-align: justify;
}
.justify:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
}

/*歌词样式*/
.music-lyric{
    position: relative;
    overflow: hidden;
    height: 34px
}
.lyric{
    list-style: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
}

.lyric > li{
    padding: 5px 0;
    position: relative;
    letter-spacing: 2px;
    color: #fff;
    font-size:12px ;
    transition: all 0.5s;
    height: 34px;
    box-sizing: border-box;
}
.lyric > .active {
    font-size: 13px;
    color: #6F3F3F;
}

/*按钮*/
.music-ctrl >ul>li ,.progress-wrap>ul>li{
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
    box-sizing: border-box;
}

/* 滑块样式*/
/*.progress-wrap>ul>li:nth-child(2n+1){*/
    /*width: 30px;*/
/*}*/

.music-volume.justify>span {
    display: inline-block;
    font-size: 14px;
    position: relative;
}
span.volume:hover>.slider-volume {
    opacity:1;
    /*display: inline-block;*/
}


.slider-volume{
    opacity: 0;
    /*display:block;*/
    width: 150px;
    padding: 10px 15px;
    background: rgba(85, 90, 90,1);
    border-radius: 5px;
    position: absolute;
    top: 6px;
    left: calc(100% + 10px);
    transition: all 1s;
}


.slider-volume:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 8px;
    height: 8px;
    left: -4px;
    top: 7px;
    transform: rotate(45deg);
    background: rgba(85, 90, 90, 1);
}


.slider{
    height: 4px;
    border-radius: 20px;
    position: relative;
    border: none;
    background: #818885;
    cursor: pointer;
}
.slider-range{
    background-color: #fff;
    height: 4px;
    border-radius: 5px;
    font-size: 1px;
    line-height: 4px;
    position: absolute;
    top: 0;
    left: 0;
}

.slider-handle{
    /*margin: -4px 0 0 -7px;*/
    position: absolute;
    left: 0%;
    top: 0;
    margin: -2px 0 0 0px;
    width: 8px;
    height: 8px;
    outline: none;
    background: #818885;
    border-radius: 50%;
    transform: translate(-50%,0);
}

.progress-wrap>ul>li:nth-child(2n){
    width: calc(100% - 118px);
}

.progress-wrap {
    height: 35px;
    border-radius: 5px;
}
.progress{
    width: 100%;
    height: 4px;
    border-radius: 20px;
    position: relative;
    border: none;
    background: #818885;
    cursor: pointer;
}
.progress-range {
    background-color: #fff;
    height: 4px;
    border-radius: 5px;
    font-size: 1px;
    line-height: 4px;
    position: absolute;
    top: 0;
    left: 0;
}
a.progress-handle {
    position: absolute;
    left: 0%;
    top: 0;
    margin: -2px 0 0 0px;
    width: 8px;
    height: 8px;
    outline: none;
    background: #818885;
    border-radius: 50%;
    transform: translate(-50%,0);
}




.music-ct > .channel{
    /*overflow: hidden;*/
    width: 80%;
    padding: 30px 0;
    color: #fff;
    /*box-shadow: 5px 0 10px rgb(135, 135, 135);*/
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    /*left: 0;*/
    bottom: 0;
    transition: all 0.5s;
}
.active4channel{
    right: 100%;
}
.channel>ul {
    height: 100%;
    overflow-y: auto;
}

.channel>ul::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.channel>ul::-webkit-scrollbar-track {
    border-radius: 20px;
    box-shadow: inset 0 0 6px #f0f0f0;
}
.channel>ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #fff;
}

.channel>ul>li {
    padding: 3px 0;
    letter-spacing: 1px;
    cursor: pointer;
    position:relative;
    z-index: 100;
}
/*.channel>ul>li:hover {*/
    /*background: pink;*/
    /*color: #fff;*/
/*}*/
.channel>ul>li>.bg{
    display: block;
    position: absolute;
    width: 229px;
    height: 22px;
    border-left: 5px solid #25a6f7;
    top: 0;
    left: -246px;
    background-color: #070202;
    z-index: -1;
    transition: left 0.3s;
    -webkit-transition: left .3s;
}
.channel>ul>li:hover>.bg{
    left: 0;
}
.close{
    position: absolute;
    top: 7px;
    font-size: 16px;
    right: 12px;
    cursor:pointer;
}